.bar {
    background-color: yellow;
    display: flex;
    align-items: center;
    padding: 8px 0;
    justify-content: center;
    gap: 12px;
}

.logo {
    height: 30px;
}

.labelSearch {
    height: 30px;
    border: none;
    width: 750px;
    padding-left: 12px;
}

.SearchButton {
    border-radius: 2px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}
.SearchButton.img {
    line-height: 0px;
}
.barsearch {
    display: flex;
    align-items: stretch;
    height: 30px;
    border-radius: 100px;
}
